@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Parisienne", cursive;
  font-family: "Poppins", sans-serif;
  padding: 0 3rem;
}

/********************* HEADER/ NAVBAR ********************/
header {
  color: #0a285a;
  padding: 0 4rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
}

.logo a img {
  background-color: #0a285a;
}

.menu-links {
  list-style: none;
  display: flex;
}

.menu-links li a {
  text-decoration: none;
  color: #0a285a;
}
