*{
  margin: 0;
  padding: 0;
}

.sec-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.sec-section1{
  width: 100%;
  height:400px;
  background-image: url(./images/earn-money\ -\ Copy.jpeg);
  background-position: center;
  background-size: cover;

}
